body{
     font-family: arial, helvetica,negritas;
     background:white;
}
.menu{
      list-style: none;
      padding:0;
      background:#92327;
      width:90%;
      max-width:1000px;
      margin: auto;
}
.menu li a{
      text-decoration: none;
      color:black;
     padding:30px;
      display:block;
}
.menu li{
      display:inline-block;
      text-aling:center;
}
.menu li a:hover{
      background:#0089ED;
}